/*nav {
    height: 50px;
    width: 100%;
    background-color: gray;
    position: fixed;
    z-index: 50;
    display: flex;
    align-items: center;
}*/

* {
    box-sizing: border-box;
}

body {
    margin: 1% 10%;
    background-color: #13131F;  
    color: white;
}

.container {
    margin: 1rem;
    text-align: center;
}

.burger-btn {
    width: 40px;
    height: 40px;
    margin: 2rem;
    position: relative;
    align-items: center;
    cursor: pointer;
}

.burger-btn::before {
    content: '';
    position: absolute;
    top: 0;
    width: 30px;
    background-color: #FFFFFF;
    height: 4px;
}

.burger-btn span {
    position: absolute;
    top: 18px;
    width: 30px;
    background-color: #FFFFFF;
    height: 4px;
}

.burger-btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 30px;
    background-color: #FFFFFF;
    height: 4px;
}